{% extends 'student/main.html' %}
{% load static %}
{% block content %}

<style type="text/css">
	img{
		max-width: 100%;
		object-fit: cover;
	}

	.featured_image{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.postschool-container{
			width: 900px;
			margin: 0 auto;
			padding-top: 20px;
			padding-bottom: 20px;
	}

	.comments-wrapper{
		margin-top: 50px;
		padding: 10px;
		border:1px solid var(--borderColor);
		-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
		box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	}

	.comment{
		display: flex;
		padding: 15px;
	}

	.comment-author{
		font-size: 14px;
		font-weight: 700;
		color: rgb(30, 174, 219) !important;
		margin: 2px;
	}

	.author-pic{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 10px;
	}

	.comment-body{

		font-size: 14px;
	}

	@media screen and (max-width: 900px){
		.postschool-container{
			width: 95%;
		}
	}
</style>

<div class="postschool-container">

	<a class="btn btn-sm btn-primary" href="{% url 'Postshool' %}">&laquo Back to Posts</a>
{% comment %} 
	{% if request.user.is_staff %}
		 <a class="btn btn-sm btn-primary" href="{% url 'update_postschool' postschool.slug %}">Edit</a>
		 <a class="btn btn-sm btn-danger" href="{% url 'delete_postschool' postschool.slug %}">Delete</a>
	{% endif %} {% endcomment %}

	<img class="featured_image" src="{{postschool.image.url}}">

	
		<span class="tag">{{postschool.matier}}</span>
	
	<hr>

	<h1>{{postschool.title}}</h1>
	<h4>{{postschool.level}}</h4>
	<h4>{{postschool.division}}</h4>
	<h4>{{postschool.Annee}}</h4>	
	<label for="title">Groups</label>
<select id="title" name="title">
 <option value="" selected>Please choose</option>
	{% for group in groups  %}
 <option value="{{group}}">{{group.Days}} // from : {{group.starttime}}   to : {{group.endstime}}</option>
 {% endfor %}
</select>

	<h1></h1>
	
	<br>

	<p>{{postschool.body|safe}}</p>
	<h6>created by : {{postschool.teacher}} at : {{postschool.created}}</h6>

</div>

{% endblock content %}
